<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close.emit(true)">
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel">{{ 'Смена пароля' | i18n }}</h4>
</div>
<div class="modal-body custom-scroll terms-body" style="padding: 0;">
  <form class="smart-form" id="left" #form>
    <fieldset>
      <alert type="info">{{ 'Оповещение о смене пароля будет отправлено на указанный при регистрации email' | i18n }}</alert>  
      <section class="margin-bottom-5">
        <label class="label">{{ 'Текущий пароль от аккаунта' | i18n }}</label>
        <label class="input">
          <input type="password" [(ngModel)]="password.old" name="old" autocomplete="false" #pold  (keydown.enter)="save()">
        </label>
      </section>
      <section class="margin-bottom-5">
        <label class="label">{{ 'Новый пароль' | i18n }}</label>
        <label class="input">
          <input type="password" [(ngModel)]="password.new" name="new" autocomplete="false" #pnew  (keydown.enter)="save()">
        </label>
      </section>
      <section class="margin-bottom-5">
        <label class="label">{{ 'Подтвердите новый пароль' | i18n }}</label>
        <label class="input">
          <input type="password" [(ngModel)]="password.new_confirmation" name="new_confirmation" autocomplete="false" #pnewc  (keydown.enter)="save()">
        </label>
        <div class="note">{{ 'Важно: пароль не может быть короче 8-ми символов' | i18n }}</div>
      </section>
    </fieldset>

    <footer>
      <button class="btn btn-primary" type="button" (click)="save()"> {{ 'Сохранить' | i18n }} </button>
      <button class="btn btn-default" type="button" (click)="close.emit(true)"> {{ 'Отмена' | i18n }} </button>
    </footer> 

    <div class="message" [class.error]="!responseSuccess" *ngIf="responseMessage">
      <i class="fas fa-check" *ngIf="responseSuccess"></i>
      <i class="fas fa-exclamation-triangle" *ngIf="!responseSuccess"></i>
      <p>{{ responseMessage | i18n }}</p>
    </div>
  </form>
</div>