<div *ngIf="!tickets.list?.length">
  <h2 class="txt-color-teal" style="margin: 40px 0;text-align: center;">Нет ответов</h2>
  <hr>
</div>
<div class="row" *ngIf="tickets.list?.length">
  <div class="col-sm-12">
    <div class="well well-light well-lg shadow-md">
      <table class="table table-striped table-forum">
        <thead>
          <tr>
            <th class="text-center"><strong>Номер тикета</strong></th>
            <th class=""><strong>Тема</strong></th>
            <th class="text-center"><strong>Сообщение</strong></th>
            <th class=""></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets.list">
            <td class="text-center hidden-xs hidden-sm">
              <a routerLink="/support/issues/{{ ticket.system_number }}" class="txt-color-blue"> {{ ticket.system_number }} </a>
            </td>
            <td>
              <h5 class="no-margin">{{ ticket.theme }}</h5>
              <small><em>{{ ticket.created_at | moment : 'DD.MM.YYYY HH:mm' }}</em></small>
            </td>
            <td class="text-center hidden-xs hidden-sm">
              <h5 class="no-margin">{{ ticket.message_text }}</h5>
              <span>
                  <strong class="txt-color-blue"><i class="fas fa-comments"></i> {{ ticket.message_author }}</strong>&nbsp;
                  <small><i>{{ ticket.message_date | moment : 'DD.MM.YY HH:mm' }}</i></small>
              </span>
            </td>
            <td class="hidden-xs hidden-sm" style="vertical-align: middle;">
              <a routerLink="/support/issues/{{ ticket.system_number }}" class="btn btn-primary btn-sm">Перейти</a>
            </td>
          </tr>
        </tbody>
      </table>         
    </div>
  </div>
</div>