<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close.emit(true)">
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel">Порядок начисления и комиссия</h4>
</div>
<div class="modal-body custom-scroll terms-body">

  <div id="left">
    <h1>Условия комиссии за вывод средств</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi rem inventore magni, suscipit neque esse saepe debitis odit mollitia maxime reprehenderit repudiandae dolores. Qui mollitia eaque numquam consequatur, suscipit!</p>
    <p>Fuga iure dolorem tempore omnis debitis placeat, adipisci ducimus error, itaque assumenda incidunt neque excepturi, repellendus iste dicta aperiam. Accusantium laboriosam recusandae atque architecto, modi fuga facere ipsum, deserunt harum.</p>
    <p>Culpa rem beatae voluptatem, quam. Excepturi repudiandae eius, laborum obcaecati rem quisquam distinctio fugit magnam aliquam voluptatem quia dolore eaque soluta tempora ad quaerat perferendis officia nisi, reprehenderit odio voluptas.</p>
    <p>Ipsam totam maiores architecto reiciendis doloremque provident eaque, amet earum dolor repellendus, facere temporibus quisquam ducimus molestias ut reprehenderit perferendis quod ipsum debitis illo minima omnis eos mollitia nam labore?</p>
  </div>

</div>
<div class="modal-footer">
  <div class="pull-left">
    <h4>Сумма к выводу <strong class="txt-color-teal">{{ request.amount?.toFixed(2) }} {{ request.currency }}</strong></h4>  
  </div>
  <button type="button" class="btn btn-success" id="i-agree" (click)="agree.emit(true)">
    <i class="fa fa-check"></i> Подтверждаю
  </button>
  <button type="button" class="btn btn-default" (click)="close.emit(true)">
    Отмена
  </button>
</div>