<div id="content" class="profile-settings animated fadeInUp">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Баланс бустера', 'История трансаций']" icon="fas fa-university" class="col-xs-12"></sa-big-breadcrumbs>
  </div>


  <div class="row">
    <div class="col-sm-12">
      	<div class="well well-light well-lg shadow-md">
          <div>
            <div class="progress progress-md progress-tx">
              <ng-container *ngFor="let stat of stats">
                <div *ngIf="stat.id==1" class="progress-bar" [style.width.%]="stat.ratio" style="background-color: #ffee93;"><span>{{ stat.name }}: {{ stat.ratio }}%</span></div>
                <div *ngIf="stat.id==2" class="progress-bar" [style.width.%]="stat.ratio" style="background-color: #fb3c4a;"><span>{{ stat.name }}: {{ stat.ratio }}%</span></div>
                <div *ngIf="stat.id==3" class="progress-bar" [style.width.%]="stat.ratio" style="background-color: #97f571;"><span>{{ stat.name }}: {{ stat.ratio }}%</span></div>
              </ng-container>
            </div>
            <div class="table-responsive">
              <table class="table table-hover table-bordereds table-tx">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Номер трансакции</th>
                  <th>Тип</th>
                  <th><i class="fas fa-dollar-sign"></i> Сумма</th>
                  <th><i class="fas fa-calendar-alt"></i> Дата</th>
                  <th><i class="glyphicon glyphicon-send"></i> Статус</th>
                  <th><i class="fas fa-comment-dots"></i> Комментарий</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let tx of txs; let i = index" [class.warning]="tx.status==1" [class.danger]="tx.status==2" [class.success]="tx.status==3">
                  <td>{{ i + 1 }}</td>
                  <td>{{ tx.system_number }}</td>
                  <td>{{ tx.type_name }}</td>
                  <td> 
                    <div class="changes">
                      <i *ngIf="tx.status==3 && tx.amount > 0" class="fas fa-angle-up"></i> 
                      <i *ngIf="tx.status==3 && tx.amount < 0" class="fas fa-angle-down"></i> 
                    </div>
                    {{ Math.abs(tx.amount)?.toFixed(2) }} {{ tx.currency_name }}
                  </td>
                  <td>{{ tx.created_at | moment: 'DD.MM.YY HH:mm:ss' }}</td>
                  <td>{{ tx.status_name }}</td>
                  <td>{{ tx.comment }}</td>
                  <td><button class="btn btn-xs btn-primary"  (click)="openModal($event, issueModal, tx)"><i class="fas fa-question-circle"></i> Задать вопрос</button></td>
                </tr>
                </tbody>
              </table>
              <div class="dt-toolbar-footer"><div class="col-sm-6 col-xs-12 hidden-xs"><div class="dataTables_info">Трансакций найдено: {{ found }}</div></div></div>
            </div>
  	        <div class="text-right">
  	          <ul *ngIf="pagination" class="pagination pagination-md">
  	            <li><a (click)="pageChange(pagination.prev)"><i class="fas fa-chevron-left"></i></a></li>
  	            <li *ngFor="let p of pagination.pages" [class.active]="p == page"><a (click)="pageChange(p)">{{ p }}</a></li>
  	            <li><a (click)="pageChange(pagination.next)"><i class="fas fa-chevron-right"></i></a></li>
  	          </ul>
  	        </div> 
          </div>
      	</div>
    </div>
  </div>
</div>

<ng-template #issueModal>
  <issue-modal (close)="modalClose()" [tx]="issuedTx"></issue-modal>
</ng-template>