<div id="content" class="profile-settings animated fadeInUp">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Баланс бустера', 'Запрос на вывод средств']" icon="fas fa-hand-holding-usd" class="col-xs-12"></sa-big-breadcrumbs>
  </div>


  <div class="row">
    <div class="col-sm-12">
      	<div class="well well-light well-lg shadow-md">

			<div class="tabs-layout">
				<ul class="nav nav-tabs bordered">
				    <li [class.active]="activeTab == 1">
				      <a (click)="activeTab = 1">
				      	<i class="fa-fw fa-lg fas fa-file-invoice-dollar"></i> <strong class="fs-16">Создать запрос</strong>
				      </a>
				    </li>
				    <li [class.active]="activeTab == 2">
				      <a (click)="activeTab = 2">
				      	<i class="fa-fw fa-lg fas fa-th-list"></i> <strong class="fs-16">История запросов</strong>
				      	<span class="badge bg-color-teal txt-color-white fs-14 no-radius">{{ userPayouts?.length }}</span>
				      </a>
				    </li>
				  </ul>

				  <tabset>
				    <tab [active]="activeTab == 1">
						<div class="smart-form" #form>
						    <fieldset>
						      <alert type="info">
						       	<h4 class="alert-heading">Важно</h4> 
						       	После создания запроса на ваш email будет отправлено письмо с инструкцией по подтверждению. 
						       	Cредства будут перечислены на ваш счет после рассмотрения заявки ответственным службы поддержки.
						      </alert> 
						      <section>
						       	<h4 class="txt-color-teal">Доступно к выводу <strong>{{ userBalance.amount?.toFixed(2) }} {{ userBalance.currency }}</strong></h4>  
						      </section>
						      <section class="col-xs-12">
						        <label class="label font-md">Ваш платежный реквизит</label>
						        <div class="inline-group" *ngIf="userProps">
						        	<label class="radio" *ngFor="let prop of userProps"><input name="radio-inline" type="radio" (change)="propSelected(prop)"><i></i>{{ prop.method }} - {{ prop.prop }}</label>
						        </div>
						        <alert type="warning" dismissible="true" *ngIf="!userProps?.length">
						       		<strong>Вы не добавили свои платежные реквизиты. Для удобства мы рекомендуем перейти в <a routerLink="/profile/settings">&laquo;Настройки профиля&raquo;</a> и создать счета для вывода.</strong>
						      	</alert> 
						      </section>
						      <section class="col-xs-3">
						      	<div>
						      		<label class="label font-md"><strong>Способ оплаты</strong> <sup class="fas fa-asterisk fs-8"></sup></label>
							        <label class="select">
							          <select [(ngModel)]="request.method_id" class="input-md">
							            <option *ngFor="let method of payMethods" [ngValue]="method.id" #method_id>{{ method.name }}</option>
							          </select><i></i>
							        </label>
						      	</div>
						      </section>
						      <section class="col-xs-3">
						      	<div>
						      		<label class="label font-md"><strong>Реквизит</strong> <sup class="fas fa-asterisk fs-8"></sup></label>
						      		<label class="input">
						      			<input class="input-md" type="text" [(ngModel)]="request.prop" #prop>
						      		</label>
						      	</div>
						      </section>
						      <section class="col-xs-3">
						      	<div>
						      		<label class="label font-md">Страна</label>
						      		<label class="input">
						      			<input type="text" list="list" [(ngModel)]="request.country">
						      			<datalist id="list"><option *ngFor="let country of _service.countries" value="{{country.name}}">{{country.name}}</option></datalist>
						      		</label>
						      	</div>
						      </section>
						      <section class="col-xs-3">
						      	<div>
						      		<label class="label font-md"><strong>Сумма для вывода</strong> <sup class="fas fa-asterisk fs-8"></sup></label>
						      		<label class="input">
						      			<input class="input-md" type="number" [(ngModel)]="request.amount" max="{{userBalance.amount}}" #amount>
						      		</label>
						      	</div>
						      </section>
						      <br clear="both">
						      <section>
						        <label class="label font-md">Комментарий</label>
						        <label class="textarea">
						          <textarea class="custom-scroll" rows="2" [(ngModel)]="request.comment" #comment></textarea>
						        </label>
						        <div class="note">Если у вас есть дополнительные пожелания вы можете изложить их в комментарии к заявке.</div>
						      </section>
						    </fieldset>   
						    <footer>
				        		<button class="btn btn-lg btn-primary" (click)="agreement($event, payoutModal)">Подтвердить</button>
						    </footer> 

						    <div class="message" [class.error]="!responseSuccess" *ngIf="responseMessage">
						      <i class="fas fa-check" *ngIf="responseSuccess"></i>
						      <i class="fas fa-exclamation-triangle" *ngIf="!responseSuccess"></i>
						      <p [innerHTML]="responseMessage"></p>
						    </div>
					  	</div> 
				    </tab>
				    <tab [active]="activeTab == 2">
						<div class="smart-form" #form>
						    <fieldset>
								<alert type="info" *ngIf="userPayouts?.length">
									<h4 class="alert-heading">Важно</h4> 
									Если у вас возникли вопросы о статусе запроса, обратитесь в <a routerLink="/support/newissue">&laquo;Службу поддержки&raquo;</a>
								</alert> 
								<alert type="info" *ngIf="!userPayouts?.length">
									<h4 class="alert-heading">У вас пока нет запросов на вывод средств</h4> 
									Сдесь будет список всех ваших запросов с отметкой о статусе рассмотрения и номером трансакции средств на ваш счет. 
									<strong>{{ userBalance.amount?.toFixed(2) }} {{ userBalance.currency }}</strong> доступно к выводу.
								</alert>
					            <div class="table-responsive" *ngIf="userPayouts?.length">
					              <table class="table table-hover table-bordereds table-tx">
					                <thead>
					                <tr>
					                  <th>Номер запроса</th>
					                  <th><i class="fas fa-money-check-alt"></i> Реквизит</th>
					                  <th><i class="fas fa-dollar-sign"></i> Сумма</th>
					                  <th><i class="fas fa-comment-dots"></i> Комментарий</th>
					                  <th><i class="fas fa-calendar-alt"></i> Дата</th>
					                  <th><i class="glyphicon glyphicon-send"></i> Статус</th>
					                  <th></th>
					                </tr>
					                </thead>
					                <tbody>
					                <tr *ngFor="let req of userPayouts; let i = index" [class.warning]="req.status==1" [class.danger]="req.status==2" [class.success]="req.status==3">
					                  <td>{{ req.id }}</td>
					                  <td>
					                  	{{ req.method }}
					                  	{{ req.prop }}
					                  	{{ req.country }}
					                  </td>
					                  <td>{{ req.amount?.toFixed(2) }} {{ req.currency }}</td>
					                  <td>{{ req.comment }}</td>
					                  <td>{{ req.created_at | moment: 'DD.MM.YY HH:mm:ss' }}</td>
					                  <td>{{ req.status_name }}</td>
					                  <td>
					                  	<button *ngIf="req.tx_number" class="btn btn-success btn-block" routerLink="/balance/txs/{{ req.tx_number }}">tx</button>
					                  	<button *ngIf="!req.tx_number" class="btn btn-success btn-block" disabled>tx</button>
					                  </td>
					                </tr>
					                </tbody>
					              </table>
					              <div class="dt-toolbar-footer">
					              	<div class="col-sm-6 col-xs-12 hidden-xs">
					              	 	<div class="dataTables_info">Запросов найдено: {{ userPayouts?.length }}</div>
					              	</div>
					          	  </div>
					            </div>
						    </fieldset>
					   </div>
				    </tab>
				</tabset> 			
			</div>
		</div>
    </div>
  </div>
</div>

<ng-template #payoutModal>
  <payout-info-modal (agree)="agreed()" (close)="closed()" [request]="request"></payout-info-modal>
</ng-template>