<div id="shortcut" [@shortcutState]="state">
  <ul>
    <ng-container *ngFor="let shortcut of shortcuts">
      <li *ngIf="shortcut.link != '/orders/active'">
        <a routerLink="{{ shortcut.link }}" class="jarvismetro-tile big-cubes" [style.background]="shortcut.color"> 
          <span class="iconbox"><i class="fa-4x {{ shortcut.icon }}"></i> <span>{{ shortcut.name | i18n }} </span> </span> 
        </a>
      </li>
      <li *ngIf="shortcut.link == '/orders/active' && _service?._user?.is_busy">
        <a routerLink="{{ shortcut.link }}" class="jarvismetro-tile big-cubes" [style.background]="shortcut.color"> 
          <span class="iconbox"><i class="fa-4x {{ shortcut.icon }}"></i> <span>{{ shortcut.name | i18n }} </span> </span> 
        </a>
      </li>
    </ng-container>
  </ul>
</div>
