<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel"><strong>{{ 'Отчет' | i18n }} #{{ report.id }}</strong> {{ report.order_type_name | i18n }} {{ report.order_number }}</h4>
</div>
<div class="modal-body custom-scroll terms-body" class="no-padding">
  <div id="left">
    <div class="smart-form" #form>
      <fieldset>
        <section>
          <label class="toggle"><input name="checkbox-toggle" type="checkbox" [(ngModel)]="report.finisher"><i data-swchoff-text="НЕТ" data-swchon-text="ДА"></i>{{ 'Заказ выполнен' | i18n }}</label>
        </section>
        <section *ngIf="report.order_type == 2">
          <label class="label">{{ 'Игр сыграно' | i18n }}</label>
          <label class="input"><i class="icon-append fas fa-exclamation-circle"></i>
            <input type="number" [(ngModel)]="report.games_done" min="0">
            <b class="tooltip tooltip-top-right">{{ 'Количество сыгранных игр в отчетный период' | i18n }}</b>
          </label>
        </section>
        <section *ngIf="report.order_type == 1 || (report.order_type == 2 && report.finisher)">
          <label class="label">{{ 'Результат MMR' | i18n }}</label>
          <label class="input"><i class="icon-append fas fa-exclamation-circle"></i>
            <input type="number" [(ngModel)]="report.mmr" min="0" step="100">
            <b class="tooltip tooltip-top-right">{{ 'MMR аккаунта клиента на момент создания отчета' | i18n }}</b>
          </label>
        </section>
        <section *ngIf="report.order_type == 3">
          <label class="label">{{ 'Текущая медаль' | i18n }}</label>
          <div class="medals-selector">
            <div class="item">
              <div class="medal le-dr-selector">
                <div class="medal-rank driven">
                  <div class="list">
                    <div data-le="1" class="active">
                      <div *ngFor="let medal of medals; let i = index" [class.active]="medal.id == report.medal" [attr.data-dr]="medal.id">
                        <span class="title">{{medal.title}} {{medal.rank}}</span>
                        <img src="{{_service.store_medals}}{{medal.image}}">
                      </div>
                    </div>
                  </div>
                  <div class="controlls">
                    <span class="prev" (click)="report.medal = report.medal > 1 ? report.medal - 1 : medals[medals?.length - 1].id"><i class="fas fa-chevron-left"></i></span>
                    <span class="next" (click)="report.medal = report.medal < medals?.length ? report.medal + 1 : 1"><i class="fas fa-chevron-right"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section *ngIf="report.order_type == 4">
          <label class="label">{{ 'Часов сыграно' | i18n }}</label>
          <label class="input"><i class="icon-append fas fa-exclamation-circle"></i>
            <input type="number" [(ngModel)]="report.hours_done" min="0">
            <b class="tooltip tooltip-top-right">{{ 'Часов сыграно за отчетный период' | i18n }}</b>
          </label>
        </section>
        <section>
          <label class="label">{{ 'Комментарий к отчету' | i18n }} <sup>({{ 'опционально' | i18n }})</sup></label>
          <label class="textarea textarea-resizable">
            <textarea class="custom-scroll" rows="3" [(ngModel)]="report.comment"></textarea>
          </label>
        </section>
        <section *ngIf="report.finisher">
          <div class="input input-file">
            <span class="button"><input type="file" multiple (change)="onimgloaded($event)" #screenshots>{{ 'Обзор' | i18n }}</span>
            <input placeholder="{{ 'Прикрепите 2 скриншота (.jpeg .jpg .gif .png)' | i18n }}" type="text" readonly>
          </div>  
        </section>
      </fieldset> 

      <div class="message" [class.error]="!responseSuccess" *ngIf="responseMessage">
        <i class="fas fa-check" *ngIf="responseSuccess"></i>
        <i class="fas fa-exclamation-triangle" *ngIf="!responseSuccess"></i>
        <p>{{ responseMessage | i18n }}</p>
      </div>      
    </div>

    <div class="bootstrap-tagsinput no-border padding-0-14" *ngIf="report.files?.length && !responseMessage">
      <span class="tag label label-info" *ngFor="let scr of report.files">
        <a class="txt-color-white" href="{{ _service.store_screenshots }}{{ scr }}" title="{{ scr }}" target="_blank">{{ scr }}</a><span data-role="remove" (click)="removeScrsht(scr)"></span>
      </span> 
    </div>

    <div class="smart-form">
      <footer>
        <button class="btn btn-primary" type="button" (click)="send()"> {{ 'Сохранить' | i18n }} </button>
        <button class="btn btn-default" type="button" (click)="close.emit(true)"> {{ 'Отмена' | i18n }} </button>
      </footer>
    </div> 
  </div>
</div>