<div id="content" class="profile-settings animated fadeInUp">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Условия работы', 'Условия и согласия']" icon="fas fa-passport" class="col-xs-12"></sa-big-breadcrumbs>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="well well-light no-margin shadow-md">
    			    <article class="col-xs-12 txt-color-blueDark">
    		    	  	<h1 class="txt-color-teal">{{'Условия и согласия заголовок'|i18n}}</h1>
    					<div id="left" [innerHtml]="'Условия и согласия текст'|i18n"></div>
    			    </article>       
    			    <br clear="both">      		
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>