<div id="content" class="profile-settings animated fadeInUp">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Условия работы', 'Бонусы и штрафы']" icon="fas fa-money-check-alt" class="col-xs-12"></sa-big-breadcrumbs>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="well well-light shadow-md">
			    <article class="col-xs-12">
					<table class="table table-hover table-bordered">
		              <caption>
		              	<h1 class="txt-color-teal">Таблица правил начисления бонусов и наложения штрафов бустерам</h1>
		              	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum autem, ab accusantium fugit, minima, obcaecati odio, natus deleniti hic provident voluptates iusto.</p>
		              </caption>
		              <thead>
		              <tr><th>#</th><th>Тип</th><th>Причина</th><th>Сумма</th><th>Описание</th></tr>
		              </thead>
		              <tbody>
		              	<ng-container *ngFor="let type of types">
			              <tr><td colspan="5"><h4 class="txt-color-blue">{{ type.name }}</h4></td></tr>
			              <tr *ngFor="let item of type.list; let i = index">
			                <td>{{ i + 1 }}</td>
			                <td>{{ type.name }}</td>
			                <td>{{ item.name }}</td>
			                <td>{{ item.amount }}</td>
			                <td>{{ item.description }}</td>
			              </tr>
		              	</ng-container>
		              </tbody>
		            </table>
			    </article>       
			    <br clear="both">      		
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>