<div id="content" class="animated fadeInUp">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Настройки', 'Бонусы и штрафы']" icon="fas fa-money-check-alt" class="col-xs-12"></sa-big-breadcrumbs>
  </div>

  <div>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div sa-widget class="well">
          <div class="active-order-holder user-edit">
            <div class="widget-body no-padding">
              <div class="well">
                <div class="row" style="margin:0;">
                  <article class="col-xs-12 margin-top-10">
                    <div class="widget-body">
                      <article>
                        <table class="table table-hover table-bordered table-prices td-h-auto">
                          <thead>
                            <tr>
                              <th><button class="btn btn-xs btn-primary do-order-btn" (click)="catReorder()"><i class="fas fa-sync"></i></button></th>
                              <th>{{ 'Тип' | i18n }}</th>
                              <th>{{ 'Название' | i18n }}</th>
                              <th>{{ 'Описание' | i18n }}</th>
                              <th>{{ 'Сумма' | i18n }}</th>
                              <th><button class="btn btn-xs btn-primary do-order-btn" (click)="catAdd()"><i class="fas fa-plus"></i></button></th>
                            </tr>
                          </thead>
                          <tbody *ngIf="bonuses">
                            <tr *ngFor="let item of bonuses;let i = index;">
                              <td class="w-75px"><label class="input"><input type="number" class="form-control padding-6" [(ngModel)]="item.id"></label></td>
                              <td class="w-200px text-center">
                                <div class="radio-select inline-block">
                                  <label><input type="radio" name="type_{{i}}" [(ngModel)]="item.type" [value]="1"><b>{{ 'Бонус' | i18n }}</b></label>
                                  <label><input type="radio" name="type_{{i}}" [(ngModel)]="item.type" [value]="2"><b>{{ 'Штраф' | i18n }}</b></label>
                                </div>
                              </td>
                              <td><label class="input w-100"><input type="text" class="form-control padding-6" [(ngModel)]="item.name" placeholder="Название группы"></label></td>
                              <td><label class="input w-100"><input type="text" class="form-control" [(ngModel)]="item.description"></label></td>
                              <td><label class="input mw-100px"><input type="text" class="form-control" [(ngModel)]="item.amount"></label></td>
                              <td class="w-50px"><button class="btn btn-xs btn-danger do-order-btn" (click)="catRemove(item)"><i class="fas fa-trash-alt"></i></button></td>
                            </tr>
                          </tbody>
                        </table>
                      </article>  
                      <div class="smart-form margin-top-5">                          
                        <footer>
                          <button class="btn btn-success" [class.loading]="loading" type="button" (click)="catSave()">
                            <i class="fas" [class.fa-sync-alt]="loading"  [class.fa-check]="!loading"></i>
                            {{ (responseMessage ? responseMessage : 'Сохранить') | i18n }} 
                          </button>
                        </footer>
                      </div>     
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>