<div id="content">
  <!-- row -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-center error-box padding-20vh">
            <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Page Not Found</h1>
            <h2 class="font-xl"><strong>We're sorry, but requested page not found.</strong></h2>
            <br>
            <p class="lead semi-bold">
              <strong></strong>
              <small></small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
