<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close.emit(true)">
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel">Доступы к аккаунту</h4>
</div>
<div class="modal-body custom-scroll terms-body">
  <div id="left">
    <alert type="info">
      Если у вас возникли проблемы со входом, воспользуйтесь соответствующей формой или оповестите клиента лично через чат.
    </alert>  
    
    
  <fieldset class="smart-form">
    <section>
      <label class="input"><i class="icon-append fas fa-eye"></i>
        <input type="text" value="{{ order.account_login }}" readonly>
        <b class="tooltip tooltip-top-right">Логин от аккаунта steam</b>
      </label>
    </section>
    <section>
      <label class="input"><i class="icon-append fas fa-eye"></i>
        <input type="text" value="{{ order.account_pass }}" readonly>
        <b class="tooltip tooltip-top-right">Пароль от аккаунта steam</b>
      </label>
    </section>
  </fieldset>    
  </div>
</div>