<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close.emit(true)">
    &times;
  </button>
  <h4 class="modal-title" id="myModalLabel">Правила пользования системой</h4>
</div>
<div class="modal-body custom-scroll terms-body">

  <div id="left">
    <h1>Основные положения</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi rem inventore magni, suscipit neque esse saepe debitis odit mollitia maxime reprehenderit repudiandae dolores. Qui mollitia eaque numquam consequatur, suscipit!</p>
    <p>Fuga iure dolorem tempore omnis debitis placeat, adipisci ducimus error, itaque assumenda incidunt neque excepturi, repellendus iste dicta aperiam. Accusantium laboriosam recusandae atque architecto, modi fuga facere ipsum, deserunt harum.</p>
    <p>Culpa rem beatae voluptatem, quam. Excepturi repudiandae eius, laborum obcaecati rem quisquam distinctio fugit magnam aliquam voluptatem quia dolore eaque soluta tempora ad quaerat perferendis officia nisi, reprehenderit odio voluptas.</p>
    <p>Ipsam totam maiores architecto reiciendis doloremque provident eaque, amet earum dolor repellendus, facere temporibus quisquam ducimus molestias ut reprehenderit perferendis quod ipsum debitis illo minima omnis eos mollitia nam labore?</p>
    <p>Voluptatem, amet? Commodi nostrum similique obcaecati, ducimus nisi? Assumenda hic eaque minus, odio? Velit deleniti beatae, qui eos. Sequi quasi velit rerum asperiores soluta sint non id deleniti praesentium doloremque!</p>
    <p>Optio quam dolores nostrum explicabo, nisi quae est nulla, quo id vel eum, incidunt labore dolore? Illum, nemo quae enim iusto labore reprehenderit atque rem, consequatur, obcaecati quod dolorem quos?</p>
    <p>Et soluta maiores odit ratione, esse blanditiis ducimus quasi ipsam, dolor voluptatem dignissimos amet enim ad, omnis nesciunt, sit repudiandae? Eaque fugiat dolorum error harum libero, dolore iste velit quos.</p>
    <p>Aut ratione harum veniam sapiente molestiae earum architecto libero voluptates. Nesciunt doloribus, suscipit quae consequatur. Doloremque accusantium ab consequatur, est rem enim odit suscipit ipsam repudiandae beatae consectetur mollitia sunt!</p>
    <p>Quod, tenetur! Eius quae aperiam distinctio reprehenderit ducimus enim non, officiis facilis quas esse? Cum, non doloremque atque rem odit consectetur cumque ipsum architecto voluptatibus qui ut itaque, minima sunt!</p>
    <p>Similique expedita, dolorem alias a accusamus nobis excepturi deserunt odit tempora quasi cum velit molestias totam rem minima temporibus distinctio quidem, at, sapiente ducimus doloremque est. Facere neque dolore tempore.</p>
    <p>Recusandae in asperiores fugit impedit, officiis architecto laboriosam ipsam. Iste ipsam nesciunt, et inventore nisi, nam magni tempore eius temporibus dignissimos odit possimus recusandae ipsa rem, ab consequuntur sunt eaque.</p>
    <p>Porro vel, ex a sequi, minus tenetur esse voluptates. Minus, illum aspernatur quis repellat itaque aliquam eum dolor vitae pariatur, sequi natus, deserunt tempore impedit repellendus corporis qui beatae earum.</p>
    <p>Modi, eligendi, quasi. Perferendis dolorum quibusdam labore, odio enim culpa tenetur, iste. Labore repellendus modi nemo error illum consequatur, facere molestias amet tempore dicta blanditiis suscipit provident velit asperiores accusamus.</p>
    <p>Hic nulla adipisci expedita doloribus illo est, omnis odit architecto quasi autem harum nesciunt, eaque dignissimos? Perspiciatis, voluptas neque aliquid reprehenderit praesentium vero reiciendis quis iusto rerum modi minima minus.</p>
    <p>Itaque, dignissimos dolores minus? Distinctio eaque recusandae laudantium veritatis maxime earum, eveniet consectetur ea tenetur quaerat assumenda magnam expedita, hic nesciunt necessitatibus quam molestias quidem suscipit nobis placeat impedit sint.</p>
    <p>Praesentium ad unde ipsum atque odio, consequuntur accusantium sunt optio reprehenderit sint molestias, nesciunt aut corporis commodi quod. Dolor, dignissimos at rem ratione aperiam, maxime quisquam. Porro quasi, distinctio nam.</p>
    <p>Fugit ipsa, repellat iste nostrum aspernatur ad, explicabo exercitationem fuga eveniet impedit. Maiores, excepturi ullam temporibus porro ad ipsum, inventore explicabo tempora recusandae nesciunt ea sapiente enim nobis quas, accusantium.</p>
    <p>Dicta dolorum, pariatur consequuntur obcaecati voluptatibus rem facere aliquid fugit dignissimos, corporis repudiandae excepturi, aut dolor quae incidunt ut itaque minus vero libero adipisci neque. Totam hic sapiente, vel officia?</p>
    <p>Doloremque repellendus laborum velit explicabo facilis pariatur, ipsum ullam inventore minima eum cum tempore, accusamus exercitationem officia amet saepe. Harum illo, architecto quasi sint recusandae quis amet quaerat dolore commodi.</p>
    <p>Ullam totam incidunt fugit nobis maiores esse est architecto pariatur non eveniet velit deserunt aspernatur cumque placeat fugiat illum eius, maxime minima quod qui rem provident perferendis dolor. Blanditiis, molestias.</p>
    <p>Totam quis placeat reiciendis, in, expedita possimus eveniet dolore ex eligendi eaque, aut. Laborum, nobis iusto cum voluptate minima provident numquam aperiam sed enim! Quisquam cumque, aspernatur odio asperiores iste!</p>
    <p>Excepturi placeat nobis dignissimos numquam suscipit, quis deleniti hic iure. Facilis rem ducimus at ut, magnam temporibus animi esse natus cum alias? Repellendus quibusdam maiores, qui tenetur eius sapiente, numquam!</p>
    <p>Quasi ratione ipsa cum distinctio ipsam. Nam perferendis quibusdam molestiae consequuntur corporis beatae eaque voluptatum doloribus autem repellat iste fuga veniam quasi aspernatur ex, optio, incidunt et soluta quam placeat?</p>
    <p>Sed reiciendis corporis tempore provident, voluptate omnis repellendus ut vero impedit modi consectetur blanditiis culpa esse facere perspiciatis quos nobis odio unde ipsum, consequuntur ullam asperiores, pariatur ratione commodi molestiae.</p>
    <p>Explicabo deserunt nulla aperiam necessitatibus harum impedit ea! Illum cum doloribus ipsa molestiae ipsum explicabo eaque pariatur distinctio dolores magni quia, porro debitis est deleniti, nisi molestias hic vitae qui.</p>
    <p>Nesciunt soluta itaque inventore, facilis, labore nostrum iste nemo voluptatibus ducimus corrupti eum architecto error temporibus unde reprehenderit sequi, quia dolores. In maxime cum sed voluptatem, nemo nobis perspiciatis error.</p>
    <p>Esse ducimus modi, non voluptatum debitis vel reiciendis aperiam ipsa harum fugit accusantium dicta accusamus autem eaque qui, adipisci quo nemo, voluptate, nam expedita. Sed tenetur adipisci accusamus, debitis voluptate.</p>
    <p>Dicta sunt quaerat, reiciendis est dolorem quis iste nemo. Vero minima nostrum, dolorem sapiente quo, non delectus quidem velit culpa perspiciatis eveniet. Recusandae quae voluptate culpa fugiat, ipsam qui obcaecati.</p>
    <p>Quia maiores quasi non molestiae temporibus ut sint ullam, consequuntur quam unde qui eligendi, earum totam voluptatem quidem atque eveniet vitae quo minima accusamus. Animi recusandae nemo asperiores totam ducimus.</p>
    <p>Eum labore commodi deserunt libero expedita accusantium aspernatur possimus soluta et cupiditate illum aliquid, velit incidunt nemo provident tempora inventore neque iste veritatis quae dignissimos nulla voluptatibus tempore ad doloribus?</p>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="close.emit(true)">
    Отмена
  </button>
  <button type="button" class="btn btn-primary" id="i-agree" (click)="agree.emit(true)">
    <i class="fa fa-check"></i> Я согласен
  </button>

  <button type="button" class="btn btn-danger pull-left" id="print">
    <i class="fa fa-print"></i> Печать
  </button>
</div>