<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="close.emit(true)">
    &times;
  </button>
  <h4 class="modal-title" id="print-header">{{'Правила пользования системой' | i18n}}</h4>
</div>
<div class="modal-body custom-scroll terms-body">
  <div id="left">
    <div [innerHTML]="'Основной текст правил пользования системой'|i18n" id="print"></div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="close.emit(true)">
    {{'Отмена'|i18n}}
  </button>
  <button type="button" class="btn btn-primary" id="i-agree" (click)="agree.emit(true)">
    <i class="fa fa-check"></i> {{'Я согласен'|i18n}}
  </button>
  <button type="button" class="btn btn-danger pull-left" (click)="print()">
    <i class="fa fa-print"></i> {{'Печать'|i18n}}
  </button>
</div>