<header id="header" class="auth-header">
  <sa-language-selector></sa-language-selector>
  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo-blue.png" alt="logo"> </span>
  </div>
  <span id="extr-page-header-space">
    <span class="hidden-mobile hiddex-xs">{{ 'Есть аккаунт?' | i18n }}</span> 
    <a routerLink="/auth/login" class="btn btn-danger">{{ 'Авторизация' | i18n }}</a> 
  </span>
</header>
<div id="main" role="main" class="animated fadeInDown">
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">{{ 'Регистрация заголовок 1' | i18n }}</h1>
        <div class="hero">
          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">{{ 'Регистрация текст 1' | i18n }}</h4>
          </div>
          <img src="assets/img/axe.png" alt="" class="pull-right" style="width:50%">
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">{{ 'Регистрация заголовок 2' | i18n }}</h5>
            <p>{{ 'Регистрация текст 2' | i18n }}</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">{{ 'Регистрация заголовок 3' | i18n }}</h5>
            <p>{{ 'Регистрация текст 3' | i18n }}</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form id="smart-form-register" class="smart-form client-form" #form>
            <header>
              {{ 'Новый пользователь' | i18n }}
            </header>
            <fieldset>
              <section>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                  <input type="email" placeholder="{{ 'Email' | i18n }}" [(ngModel)]="user.login" name="email" #email (keydown.enter)="register($event)">
                  <b class="tooltip tooltip-bottom-right">{{ 'Логин для входа в систему, восстановления доступа, оповещений' | i18n }}</b> </label>
              </section>
              <section>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" placeholder="{{ 'Имя пользователя' | i18n }}" [(ngModel)]="user.nick_name" name="username" #username (keydown.enter)="register($event)">
                  <b class="tooltip tooltip-bottom-right">{{ 'Никнейм для отображения в чатах, заказах' | i18n }}</b> </label>
              </section>
              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" placeholder="{{ 'Пароль' | i18n }}" id="password" [(ngModel)]="user.password" name="password" #password (keydown.enter)="register($event)" autocomplete="false">
                  <b class="tooltip tooltip-bottom-right">{{ 'Пароль должен содержать не менее 8 символов' | i18n }}</b> </label>
              </section>
              <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" placeholder="{{ 'Подтверждение пароля' | i18n }}" [(ngModel)]="user.passwordConfirm" name="passwordConfirm" #passwordConfirm (keydown.enter)="register($event)" autocomplete="false">
                  <b class="tooltip tooltip-bottom-right">{{ 'Контрольное подтверждение пароля' | i18n }}</b> </label>
              </section>
            </fieldset>
            <fieldset>
              <section>
                <label class="checkbox">
                  <input type="checkbox" name="subscription" [(ngModel)]="user.subscribe">
                  <i></i>{{ 'Я хочу получать рассылку о событиях в системе' | i18n }}</label>
                <label class="checkbox">
                  <input type="checkbox" name="terms" id="terms" [(ngModel)]="user.termsAgreed">
                  <i></i>{{ 'Я соглашаюсь с' | i18n }}<a href="#" (click)="openModal($event, termsModal)"> {{ 'Правилами пользования системой' | i18n }} </a></label>
              </section>
            </fieldset>
            <footer>
              <button (click)="register($event)" class="btn btn-primary">
                {{ 'Создать аккаунт' | i18n }}
              </button>
            </footer>
            <div class="message" [class.error]="!responseSuccess">
              <i class="fas fa-check" *ngIf="responseSuccess"></i>
              <i class="fas fa-exclamation-triangle" *ngIf="!responseSuccess"></i>
              <p>{{ responseMessage | i18n }}</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #termsModal>
  <smart-terms-modal (agree)="onTermsAgree()" (close)="onTermsClose()"></smart-terms-modal>
</ng-template>
