<div id="content" class="profile-settings animated fadeInUp">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Пользователи', 'Все пользователи']" icon="fas fa-users-cog" class="col-xs-12"></sa-big-breadcrumbs>
  </div>

  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="well">
        <div class="widget-body no-padding">
           <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
              <div class="dt-toolbar">
                <div class="row">
                  <div class="col-xs-12 col-sm-8">
                    <div class="dataTables_filter">
                      <button class="btn btn-default btn-sm txt-color-blue pull-left margin-right-10" 
                        [ngClass]="{'bg-color-blue':showFilters,'txt-color-white':showFilters}" (click)="showFilters = !showFilters">
                        <i class="fas fa-filter fs-16"></i>
                      </button>
                      <div class="pull-left">
                        <label class="no-margin">
                          <input type="search" class="form-control input-md" placeholder="{{ 'Поиск' | i18n }}"  [(ngModel)]="filters.keyword" (keyup.enter)="fetch()">
                        </label>                              
                      </div>
                      <button class="btn btn-default btn-sm txt-color-green pull-left margin-left-10" (click)="fetch()" id="sync_button">
                        <i class="fas fa-sync-alt fs-16"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-sm-4 hidden-xs text-right">
                    <img src="assets/img/logo-blue.png" alt="SmartAdmin" style="width: 111px; margin-top: 3px; margin-right: 10px;">
                  </div>                        
                </div>
                <div class="smart-form orders-form" *ngIf="showFilters">
                  <div class="orders-form-filters">
                    <section class="col-xs-2">
                      <label class="label">{{ 'Сортировка' | i18n }}</label>
                      <div class="flex">
                        <label class="select column">
                          <select class="input-sm" [(ngModel)]="filters.sort">
                            <option *ngFor="let sort of sortings" [ngValue]="sort.field">{{ sort.name | i18n }}</option>
                          </select>
                          <i></i>
                        </label>   
                        <label class="column shrink">
                          <button class="btn btn-default btn-sm h-30px" (click)="filters.asc = !filters.asc">
                            <i class="fas" [class.fa-arrow-up]="filters.asc" [class.fa-arrow-down]="!filters.asc"></i>
                          </button>
                        </label>                           
                      </div>
                    </section>
                    <section class="col-xs-2">
                      <label class="label">{{ 'Тип' | i18n }}</label>
                      <label class="select">
                        <select class="input-sm" [(ngModel)]="filters.type">
                          <option value="0">{{ 'Все' | i18n }}</option>
                          <option *ngFor="let type of types" [value]="type.id">{{ type.name | i18n }}</option>
                        </select>
                        <i></i>
                      </label>  
                    </section>
                    <section class="col-xs-2">
                      <label class="label">{{ 'Подтвержденные' | i18n }}</label>
                      <label class="select">
                        <select class="input-sm" [(ngModel)]="filters.approved">
                          <option value="0">{{ 'Все' | i18n }}</option>
                          <option value="2">{{ 'Да' | i18n }}</option>
                          <option value="1">{{ 'Нет' | i18n }}</option>
                        </select>
                        <i></i>
                      </label>  
                    </section>
                    <section class="col-xs-2">
                      <label class="label">{{ 'Блок' | i18n }}</label>
                      <label class="select">
                        <select class="input-sm" [(ngModel)]="filters.block">
                          <option value="0">{{ 'Все' | i18n }}</option>
                          <option value="1">{{ 'Активные' | i18n }}</option>
                          <option value="2">{{ 'Заблокированные' | i18n }}</option>
                        </select>
                        <i></i>
                      </label>  
                    </section>
                    <section class="col-xs-2">
                      <label class="label">{{ 'Наличие заказа' | i18n }}</label>
                      <label class="select">
                        <select class="input-sm" [(ngModel)]="filters.working">
                          <option value="0">{{ 'Все' | i18n }}</option>
                          <option value="1">{{ 'В работе' | i18n }}</option>
                          <option value="2">{{ 'Без заказа' | i18n }}</option>
                        </select>
                        <i></i>
                      </label>  
                    </section>
                  </div>
                </div>
              </div>
              <table class="dataTable responsive display projects-table table table-striped table-bordered table-hover" role="grid">
                 <thead>
                    <tr role="row">
                       <th class="sorting_disabled">ID</th>
                       <th class="sorting_disabled"><i class="fas fa-key text-muted hidden-md hidden-sm hidden-xs"></i> {{ 'Группа' | i18n }} </th>
                       <th class="sorting_disabled">{{ 'Имя пользователя' | i18n }}</th>
                       <th class="sorting_disabled"><i class="fas fa-balance-scale text-muted hidden-md hidden-sm hidden-xs"></i> {{ 'Баланс' | i18n }}</th>
                       <th class="sorting_disabled">{{ 'Рейтинг' | i18n }}</th>
                       <th class="sorting_disabled"><i class="fas fa-user-check text-muted hidden-md hidden-sm hidden-xs"></i> {{ 'Подтверждение' | i18n }}</th>
                       <th class="sorting_disabled"><i class="fas fa-user-lock text-muted hidden-md hidden-sm hidden-xs"></i> {{ 'Блок' | i18n }}</th>
                       <th class="sorting_disabled"><i class="fas fa-shopping-cart text-muted hidden-md hidden-sm hidden-xs"></i> {{ 'Активный заказ' | i18n }}</th>
                       <th class="sorting_disabled"></th>
                       <th class="sorting_disabled"></th>
                    </tr>
                 </thead>
                 <tbody *ngIf="users">
                    <tr *ngFor="let user of users" role="row" class="odd">
                      <td>{{ user.id }}</td>
                      <td><span class="label" [ngClass]="{
                      'label-danger':user.type == 1,
                      'label-warning':user.type == 2,
                      'label-info':user.type == 3,
                      'label-success':user.type == 4}">{{ user.type_name }}</span></td>
                      <td>{{ user.first_name }} {{ user.last_name }} [<span class="txt-color-teal">{{ user.nick_name }}</span>]</td>
                      <td>{{ (user.balance || 0) | number : '1.2-2' }} {{ user.currency }}</td>
                      <td>{{ (user.rating || 0) }}</td>
                      <td><label class="ezswitch"><input type="checkbox" [(ngModel)]="user.is_approved" (change)="userApprove(user)"><div></div></label></td>
                      <td><label class="ezswitch"><input type="checkbox" [(ngModel)]="user.is_blocked" (change)="userBlock(user)"><div class="red"></div></label></td>
                      <td><a *ngIf="user.active_order" class="btn btn-xs btn-primary do-order-btn" routerLink="/govt/orders/{{ user.active_order }}">
                        {{ user.active_order }}</a>
                        <a *ngIf="!user.active_order" class="btn btn-xs btn-primary do-order-btn disabled"><i class="fas fa-ban"></i></a>
                      </td>
                      <td><a class="btn btn-xs btn-primary do-order-btn" routerLink="/govt/users/{{ user.id }}"><i class="fas fa-user-cog"></i></a></td>
                      <td class="w-50px"><a (click)="remove(user)" class="btn btn-xs btn-danger do-order-btn"><i class="fas fa-trash-alt"></i></a></td>
                    </tr>
                 </tbody>
                 <tbody *ngIf="!users?.length">
                   <tr>
                     <td colspan="10"><h4 class="text-center txt-color-teal fs-18 fw-500">{{ 'Список пуст' | i18n }}</h4></td>
                   </tr>
                 </tbody>
              </table>
              <div class="dt-toolbar-footer">
                <div class="col-sm-6 col-xs-12 hidden-xs">
                  <div class="dataTables_info">{{ 'Показано' | i18n }} {{ users?.length }} {{ 'из' | i18n }} {{ users_total }}</div>
                </div>
                <div class="col-sm-6 col-xs-12 text-right">
                  <ul *ngIf="pagination" class="pagination pagination-md no-margin">
                    <li><a (click)="pageChange(pagination.prev)"><i class="fas fa-chevron-left"></i></a></li>
                    <li *ngFor="let p of pagination.pages" [class.active]="p == filters.page"><a (click)="pageChange(p)">{{ p }}</a></li>
                    <li><a (click)="pageChange(pagination.next)"><i class="fas fa-chevron-right"></i></a></li>
                  </ul>
                </div>
              </div>
           </div>
        </div>
      </div>
    </article>
  </div>
</div>


