<div id="content" class="animated fadeInUp">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Пользователи', 'Управление клиентами', 'Новый клиент']" icon="fas fa-user-plus" class="col-xs-12"></sa-big-breadcrumbs>
  </div>

  <div>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div sa-widget class="well">
          <div class="active-order-holder user-edit">
            <div class="widget-body no-padding">
              <div class="well">
                <div class="row" style="margin:0;">
                  <div class="col-xs-12">
                    <div class="carousel fade profile-carousel">
                      <div class="air air-top-right padding-10">
                        <h4 class="txt-color-white font-md">
                          <span class="inline-block va-t w-100px margin-right-10 ">{{ 'Баланс' | i18n }}</span>
                          <strong *ngIf="user">{{ (user.balance || 0) | number : '1.2-2' }}
                            <ng-container *ngFor="let currency of currencies">
                              <span *ngIf="currency.id == user.currency_id">{{ currency.name }}</span>
                            </ng-container>
                          </strong>
                        </h4>
                        <h4 class="txt-color-white font-md">
                          <span class="inline-block va-t w-100px margin-right-10 ">{{ 'Заказано на' | i18n }}</span>
                          <strong *ngIf="user">{{ (user.orders_amount || 0) | number : '1.2-2' }}
                            <ng-container *ngFor="let currency of currencies">
                              <span *ngIf="currency.id == user.currency_id">{{ currency.name }}</span>
                            </ng-container>
                          </strong>
                        </h4>
                      </div>
                      <div class="carousel-inner">
                        <div class="item active">     
                          <div class="gradientist night" style="width: 100%; height: 100px;"></div>
                        </div>
                        <div class="profile-pic col-xs-6 col-sm-3">
                          <label>
                            <img src="{{_service.store_avatars}}{{user?.avatar ? user?.avatar : 'mock.png'}}" [alt]="user?.nick_name" #avatarimg>
                            <i class="fas fa-pen"></i><input type="file" (change)="onimgloaded($event)">
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>             
                  <article class="col-xs-12 margin-top-10">
                    <div class="widget-body">
                      <ul id="myTab1" class="nav nav-tabs bordered">
                        <li [class.active]="activeTab == 0">
                          <a (click)="activeTab = 0">
                            <i class="fas fa-fw fa-lg fa-cogs"></i> {{ 'Настройки аккаунта' | i18n }}
                          </a>
                        </li>
                        <li [class.active]="activeTab == 1">
                          <a (click)="activeTab = 1">
                            <i class="fas fa-fw fa-lg fa-shopping-cart"></i> {{ 'Заказы' | i18n }} 
                          </a>
                        </li>
                        <li [class.active]="activeTab == 2">
                          <a (click)="activeTab = 2">
                            <i class="fas fa-fw fa-lg fa-chart-line"></i> {{ 'Трансакции' | i18n }} 
                          </a>
                        </li>
                      </ul>

                      <tabset class="padding-10" *ngIf="user">
                        <tab [active]="activeTab == 0">
                          <div class="row">
                            <div class="table-responsive col-xs-6">
                              <table class="table table-bordered table-striped table-hover va-m">
                                <tbody>
                                  <tr>
                                    <th>{{ 'Имя' | i18n }} {{ 'Фамилия' | i18n }}</th>
                                    <td>
                                      <div class="row">
                                        <label class="input col-sm-6 col-xs-12">
                                          <input class="form-control" type="text" [(ngModel)]="user.first_name">
                                        </label>
                                        <label class="input col-sm-6 col-xs-12">
                                          <input class="form-control" type="text" [(ngModel)]="user.last_name">
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>{{ 'Никнеим' | i18n }}</th>
                                    <td>
                                      <div class="row">
                                        <label class="input col-xs-12">
                                          <input class="form-control" type="text" [(ngModel)]="user.nick_name">
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>{{ 'E-mail' | i18n }}</th>
                                    <td>
                                      <div class="row">
                                        <label class="input col-xs-12">
                                          <input class="form-control" type="text" [(ngModel)]="user.email">
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>{{ 'Телефон' | i18n }}</th>
                                    <td>
                                      <div class="row">
                                        <label class="input col-xs-12">
                                          <input class="form-control" type="text" [(ngModel)]="user.phone">
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>{{ 'Skype' | i18n }}</th>
                                    <td>
                                      <div class="row">
                                        <label class="input col-xs-12">
                                          <input class="form-control" type="text" [(ngModel)]="user.skype">
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>{{ 'Discord' | i18n }}</th>
                                    <td>
                                      <div class="row">
                                        <label class="input col-xs-12">
                                          <input class="form-control" type="text" [(ngModel)]="user.discord">
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div> 
                            <div class="table-responsive col-xs-6">
                              <table class="table table-bordered table-striped table-hover va-m">
                                <tbody>
                                  <tr>
                                    <th>{{ 'Страна' | i18n }}</th>
                                    <td>
                                      <div class="row">
                                        <label class="input col-xs-12">
                                          <input class="form-control" type="text" list="list" [(ngModel)]="user.country">
                                          <datalist id="list"><option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</option></datalist>
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>{{ 'Язык по умол.' | i18n }}</th>
                                    <td>
                                      <div class="radio-select pull-left">
                                        <label *ngFor="let language of languages">
                                          <input type="radio" name="language" [(ngModel)]="user.language" [value]="language.id"><b>{{ language.name }}</b>
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>{{ 'Валюта' | i18n }}</th>
                                    <td>
                                      <div class="radio-select pull-left">
                                        <label *ngFor="let currency of currencies">
                                          <input type="radio" name="currency" [(ngModel)]="user.currency_id" [value]="currency.id"><b>{{ currency.name }}</b>
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>{{ 'Дата рождения' | i18n }}</th>
                                    <td>
                                      <div class="input-group col-xs-12">
                                        <input class="form-control datepicker" [saUiDatepicker]="{ dateFormat: 'yy-mm-dd'}" 
                                        value="{{ user.birth_date | moment : 'YYYY-MM-DD' }}" (change)="user.birth_date = $event">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>{{ 'Логин' | i18n }}</th>
                                    <td>
                                      <div class="row smart-form">
                                        <label class="input col-xs-12">
                                          <input class="form-control" type="text" [(ngModel)]="user.login" id="login">
                                          <b class="tooltip tooltip-top-right">{{ 'Подлинный email для входа в систему' | i18n }}</b>
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>{{ 'Пароль' | i18n }}</th>
                                    <td>
                                      <div class="row smart-form">
                                        <label class="input col-xs-6">
                                          <input class="form-control" placeholder="********" type="password" [(ngModel)]="user.password" id="password">
                                          <b class="tooltip tooltip-top-right">{{ 'Пароль не может быть короче 8ми символов' | i18n }}</b>
                                        </label>
                                        <label class="input col-xs-6">
                                          <input class="form-control" placeholder="********" type="password" [(ngModel)]="user.passwordc" id="passwordc">
                                          <b class="tooltip tooltip-top-right">{{ 'Повторите пароль' | i18n }}</b>
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>   
                          </div>
                          <div *ngIf="responseError" role="alert" class="alert alert-warning margin-top-5">
                            <h4 class="alert-heading fs-14 text-center">{{ responseError | i18n }}</h4>
                          </div>
                          <div class="smart-form margin-top-5">
                            <footer>
                              <button class="btn btn-success" [class.loading]="loading" type="button" (click)="save()" id="save-btn">
                                <i class="fas" [class.fa-plus]="!loading" [class.fa-sync-alt]="loading"></i> 
                                {{ (responseMessage ? responseMessage : 'Создать') | i18n }} 
                              </button>
                            </footer>
                          </div>                        
                        </tab>
                        <tab [active]="activeTab == 1">
                          <table class="dataTable responsive display projects-table table table-striped table-bordered table-hover td-h-auto">
                             <thead>
                                <tr role="row">
                                   <th class="sorting_disabled" tabindex="0"><i class="fas fa-hashtag text-muted hidden-md hidden-sm hidden-xs"></i> {{ 'Номер заказа' | i18n }}</th>
                                   <th class="sorting_disabled" tabindex="0"><i class="fas fa-list-ul text-muted hidden-md hidden-sm hidden-xs"></i> {{ 'Тип' | i18n }}</th>
                                   <th class="sorting_disabled" tabindex="0"><i class="fas fa-globe-africa text-muted hidden-md hidden-sm hidden-xs"></i> {{ 'Источник' | i18n }}</th>
                                   <th class="sorting_disabled" tabindex="0"><i class="fas fa-dollar-sign text-muted hidden-md hidden-sm hidden-xs"></i> {{ 'Оплата' | i18n }}</th>
                                   <th class="sorting_disabled" tabindex="0"><i class="fas fa-clock text-muted hidden-md hidden-sm hidden-xs"></i> {{ 'Создан' | i18n }} </th>
                                   <th class="sorting_disabled" tabindex="0"></th>
                                   <th class="sorting_disabled" tabindex="0"></th>
                                </tr>
                             </thead>
                             <tbody *ngIf="orders">
                                <tr *ngFor="let order of orders" role="row" class="odd">
                                   <td><a class="txt-color-blue" routerLink="/govt/orders/{{ order.system_number }}">{{ order.system_number }}</a></td>
                                   <td>{{ order.type_name }}</td>
                                   <td>
                                    <a class="label label-success" routerLink="/govt/partners/{{order.partner_id}}">
                                    <i class="fas fa-eye fw-500"></i> {{ order.partner_name }}</a>
                                   </td>
                                   <td>
                                    <span [class.txt-color-red]="order.amount_paid < order.amount" [class.txt-color-green]="order.amount_paid >= order.amount">
                                      {{ order.amount_paid | number : '1.2-2' }} / {{ order.amount | number : '1.2-2' }} {{ order.currency_name }}
                                    </span>
                                   </td>
                                   <td>{{ order.created_at | momentFromNow: 'DD.MM.YY HH:mm'}}</td>
                                   <td class="text-center">
                                      <span class="label label-default" *ngIf="[1]?.includes(order.status)">{{ order.status_name }}</span>  
                                      <span class="label label-warning" *ngIf="[2,3]?.includes(order.status)">{{ order.status_name }}</span>  
                                      <span class="label label-primary" *ngIf="[4,5]?.includes(order.status)">{{ order.status_name }}</span>  
                                      <span class="label label-success" *ngIf="[6,7,8]?.includes(order.status)">{{ order.status_name }}</span>  
                                      <span class="label label-danger"  *ngIf="[9,10]?.includes(order.status)">{{ order.status_name }}</span>  
                                      <a class="label label-info" *ngIf="order.worker_id" routerLink="/govt/boosters/{{order.worker_id}}">
                                        <i class="fas fa-user-edit"></i>{{ order.worker_name }}</a>
                                   </td>
                                   <td><a class="btn btn-xs btn-primary do-order-btn" routerLink="/govt/orders/{{ order.system_number }}"><i class="fas fa-cogs"></i></a></td>
                                </tr>
                             </tbody>
                             <tbody *ngIf="!orders?.length">
                               <tr>
                                 <td colspan="7"><h4 class="text-center txt-color-teal fs-18 fw-500">{{ 'Нет данных' | i18n }}</h4></td>
                               </tr>
                             </tbody>
                          </table>
                        </tab>
                        <tab [active]="activeTab == 2">
                          <div class="table-responsive">
                            <table class="dataTable responsive display projects-table table table-striped table-bordered table-hover table-tx td-h-auto">
                              <thead>
                              <tr>
                                <th><i class="text-muted fas fa-hashtag"></i> {{ 'Номер трансакции' | i18n }}</th>
                                <th>{{ 'Тип' | i18n }}</th>
                                <th><i class="text-muted fas fa-dollar-sign"></i> {{ 'Сумма' | i18n }}</th>
                                <th><i class="text-muted fas fa-calendar-alt"></i> {{ 'Дата' | i18n }}</th>
                                <th><i class="text-muted glyphicon glyphicon-send"></i> {{ 'Статус' | i18n }}</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let tx of txs" [class.warning]="tx.status==1" [class.danger]="tx.status==2" [class.success]="tx.status==3">
                                <td>{{ tx.system_number }}</td>
                                <td>{{ tx.type_name }}</td>
                                <td> 
                                  <div class="changes">
                                    <i *ngIf="tx.status==3 && tx.amount > 0" class="fas fa-angle-up"></i> 
                                    <i *ngIf="tx.status==3 && tx.amount < 0" class="fas fa-angle-down"></i> 
                                  </div>
                                  {{ Math.abs(tx.amount)?.toFixed(2) }} {{ tx.currency_name }}
                                </td>
                                <td>{{ tx.created_at | moment: 'D.MM.YY HH:mm:ss' }}</td>
                                <td>
                                  <span class="label label-default fs-11" *ngIf="tx.status == 1">{{ tx.status_name }}</span>  
                                  <span class="label label-danger fs-11"  *ngIf="tx.status == 2">{{ tx.status_name }}</span>  
                                  <span class="label label-success fs-11" *ngIf="tx.status == 3">{{ tx.status_name }}</span>  
                                </td>
                              </tr>
                              </tbody>
                               <tbody *ngIf="!txs?.length">
                                 <tr>
                                   <td colspan="5"><h4 class="text-center txt-color-teal fs-18 fw-500">{{ 'Нет данных' | i18n }}</h4></td>
                                 </tr>
                               </tbody>
                            </table>
                          </div>
                        </tab>
                      </tabset>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>